* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#canvas{
	border:4px solid black;
}

#buttons button{
	margin:20px;
	padding: 5px;
	font-size:15px;
}
p{
	margin:20px;
	font-size:20px;
}